---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Screenshots from '../components/Screenshots.astro';
import Security from '../components/Security.astro';
import Install from '../components/Install.astro';
import Runtimes from '../components/Runtimes.astro';
import CtaEnd from '../components/CtaEnd.astro';
---

<Layout>
  <main>
    <Hero />
    <Features />
    <Screenshots />
    <Security />
    <Install />
    <Runtimes />
    <CtaEnd />
  </main>
</Layout>
